/*style principal du site (page main)*/
* {
    font-family: Avenir, sans-serif;
}

h1,h2,h3{
    color: #ff4a4d;
}
h1
{
    text-align: center;
    margin-bottom: 10%;

}
h2{
    border-bottom: solid 0.1em #ff4a4d;
}
h3
{
    border-bottom: solid 0.1em #ff4a4d;
    margin-bottom: 6%;
}

.logoLink {
    margin-top: 2px;
    width: 150px;
}

.logoImage
{
    width: 150px;
}

#top /*Partie correspondant au header */
{
    display: flex;
    width: 100%;
    margin-bottom : 2%;

}

section
{
    margin: 5%;
    margin-top : 0%;

}

article{
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: justify;
}


nav{
    width: 100%;
    margin-top: 2px;
    font-size: 1.3em;
}

nav ul{
    list-style-type: none;
    padding-bottom: 40px;
    border-bottom: #ff4a4d solid 0.1em;
    background-color: white;

    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;


}

nav ul li{
    float: left;
    width: max-content;
    text-align: center;
    margin-right: 5%;

}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

nav a:hover{
    color: #ff707f;
    border-bottom: 1px solid #ff4a4d;
}

header
{
    background-color: white;
}

.connect /*Bouton de connecter placé à droite de la page*/
{
    position: absolute;
    right: 2.5%;
    width: max-content;
    vertical-align: auto;
}

#logoMoncompte
{
    width: 1em;
    height: 1.1em;
    vertical-align: auto;
    padding-right: 1em;
}

.bannerImage{/**/
    width: 100%;
}

.remonter /*image permettant de remonter en haut de la page*/
{
    width: 3%;
    height: 3%;
    position: fixed;
    right: 1%;
    bottom: 2%;
}


footer
{
    border-top: #ff4a4d solid 0.1em;
    margin-left: 3%;
    margin-right: 5%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-between;
}


.socialLogo
{
    width: 35px;
    padding-right: 3%;
    margin-left: 10%;
}

#footer_link{
    margin-top: 2%;
    width: max-content;
}


#questionArticle .question{
    font-style: italic;
    color: #ff7689;
    width: max-content;
    margin-top: 3%;
}
#questionArticle .question:hover{
    border-bottom: #ff7689 solid 0.1em;

}

#questionArticle .reponse{
    margin-left: 5%;
    margin-bottom: 4%;
    margin-top: 2%;
}
div.enfant
{
    display: none;
}
div.parent:hover .enfant{/*affiche la réponse au survol de la souris*/
    display:block;
    animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

input[type=button] {
    background-color: #ff4a4d;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: max-content;
    border-radius: 10px;
    font-weight: bold;
    margin: 5px;

}

input[type=button]:hover {
    background-color: white;
    color: #ff707f;
    border: 1px solid #ff4a4d;
}


table
{
    border-collapse: collapse;

}
td, th
{
    padding: 15px;

}
th{
    border: solid #ff4a4d 0.13em;
    color: #ff7689;
}
td{
    border: solid #ff707f 0.1em;
}

#membres{
    width: 100%;
    height: auto;
    overflow: auto;
}
/* Full-width inputs */
input[type=text]{
    width: max-content;
    height: 40px;
    padding: 10px 15px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}


/* Set a style for all buttons */
input[type=submit] {
    background-color: #ff4a4d;
    color: white;
    padding: 10px 15px;
    margin: 8px 20px;
    border: none;
    cursor: pointer;
    width: max-content;
    border-radius: 10px;
}

input[type=submit]:hover {
    background-color: white;
    color: #ff707f;
    border: 1px solid #ff4a4d;
}

form{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.warning{
    color: red;
}

a{
    text-decoration: none;
    color: black;
}

#addTest{
    text-align: center;
    margin-left: 40%;

}

textarea{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    margin-left: 0px;

}
select{
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 20px;
}


 h4{
    color: #ff7689;
    border-top: #ff4a4d dotted 0.1em;
     margin-top: 3%;
     margin-bottom: 0px;
}


 .message{
     height: 500px;
     overflow: scroll;
     border: #fd6c9e solid 0.1em;
     padding-right: 40px;
     padding-left: 40px;
     border-radius: 10px;
     background-color: #fff3f8;
     box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

 }

 #manager{
     text-align: right;
 }

 #content{
     text-align: center;
 }